.board * {
    box-sizing: border-box;
}

.board {
    border: 1px solid transparent;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.board>.row {
    margin: 0;
    width: 100%;    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.row>.cell {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    margin: 0;
}

.row>.cell:before {
    content:'';
    float:left;
    padding-top:100%;
}

.live.cell {
    background: #000;
}
